body{
    background-image: url("../../assets/img/background.jpg");
    background-size: cover;
}


div.logo{
    position: absolute;
    left: 54%;
    top:3%;
}
img.logo{
    width: 60%;
}
img.pokedex{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 34%;
    border: solid black 4px;
    border-radius: 50px;
}

div.contente{
    width: 25.4%;
    height: 27%;
    background: transparent;
    position: absolute;
    top: 28.8%;
    left: 36.9%;
    border-radius: 22px;
}

img.pokemon{
    position:absolute;
    width: 30%;
    aspect-ratio: 1;
    top:13%;
    left: 8%;
}

button.NextBouton,button.PreviousBouton{
    position: absolute;
    background: transparent;
    left: 91%;
    top: 145%;
    width: 12%;
    height: 16%;
    border: none;
    font-size:0;
}

button.PreviousBouton{
    left: 73%;
}

p{
    padding-left: 45%;
}

p img {

    width: 10%;
}

button.ShinyBouton{
    position: absolute;
    background: transparent;
    left: 84%;
    top: 125%;
    width: 8%;
    height: 58%;
    z-index: 1;
    border: none;
    font-size:0;
}
